*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* *********** */
/*   NAV BAR   */
/* *********** */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dc6141;
    padding: 1em;
    color: #0e0e0e;
}
nav .title{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;     
    font-size: 0.846rem;     

}
nav .nav-list{
    display: flex;
    gap: 1em;
    cursor: pointer;
    font-size: 0.75rem;
}

/* *********** */
/*   Header    */
/* *********** */

header{
    background-image: url(./ruin.gif);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 293px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1em;
    text-shadow: 4px 4px 10px black;
}
header h1{
    line-height: 108%;
}
header p{
    line-height: normal;
}